<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cod4MapRotationBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Cod4MapRotationBuilder.Properties.Settings>
            <setting name="StockMaps" serializeAs="String">
                <value>mp_convoy;mp_backlot;mp_bloc;mp_countdown;mp_crash;mp_crossfire;mp_citystreets;mp_farm;mp_overgrown;mp_pipeline;mp_shipment;mp_strike;mp_showdown;mp_vacant;mp_cargoship;mp_crash_snow;mp_broadcast;mp_carentan;mp_creek;mp_killhouse</value>
            </setting>
            <setting name="GameModes" serializeAs="String">
                <value>war:Team Deathmatch;sd:Search &amp; Destroy;sab:Sabotage;koth:Headquarters;dom:Domination;dm:Free for All;ftag:Freeze Tag</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
        </Cod4MapRotationBuilder.Properties.Settings>
    </userSettings>
</configuration>